body {
    background-image: linear-gradient(to top, #264C81, #dedede);
    background-size: cover;
    background-attachment: fixed;
}

.box {
    font-family: 'Inter', sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    width: 18%;
    min-width: 350px;
    border-radius: 15px;
    font-size: 14px;
}

fieldset {
    border: 3px solid #000000;
    border-radius: 8px;
}

legend {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
    background-color: #000000;
    border-radius: 8px;
}

.inputBox {
    position: relative;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .8s;
}

.inputUser:focus~.labelInput,
.inputUser:valid~.labelInput {
    top: -20px;
    font-size: 12px;
    color: white;
}

#data_nascimento {
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

#submit {
    background-color: white;
    width: 100%;
    border: none;
    padding: 15px;
    color: black;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover {
    background-color: #000000;
    color: white;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.logout-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.popup-message {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(255, 0, 0);
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 14px;
}

.popup-message2 {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: green;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 14px;
}

.popup-prosseguir {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
}

#sim {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
}

#nao {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
}

#sim:focus,
#nao:focus {
    outline: none;
}

.sex-check {
    display: none;
}

.sex {
    display: inline-block;
    width: 200px;
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.sex-check:checked+.sex {
    background-color: #007BFF;
    color: rgb(255, 254, 254);
}


.sex-check:checked+.sex:before {
    content: "\2713";
    margin-right: 5px;
    color: white;
}