body {
  background-image: linear-gradient(to top, #264C81, #dedede);
  background-size: cover;
  background-attachment: fixed;
}

.box {
  font-family: 'Inter', sans-serif;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  min-width: 350px;
  border-radius: 15px;
  font-size: 14px;
}

fieldset {
  border: 3px solid #000000;
  border-radius: 8px;
}

#submit {
  background-color: white;
  width: 100%;
  border: none;
  padding: 15px;
  color: black;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}

#submit:hover {
  background-color: #000000;
  color: white;
}

.popup-message2 {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: green;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
}

.alterar-dados-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  background-color: #264C81;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 15px;
  transition: background-color 0.3s;
}

.alterar-dados-button:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

legend {
  border: 1px solid #000000;
  padding: 10px;
  text-align: center;
  background-color: #000000;
  border-radius: 8px;
}

.logout-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.div-select {
  position: relative;
  width: 220px;
  overflow: hidden;
}

.med-check {
  display: none;
}

.med {
  display: inline-block;
  width: 200px;
  padding: 5px 10px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.med-check:checked+.med {
  background-color: #007BFF;
  color: rgb(255, 254, 254);
}

.med-check:checked+.med:before {
  content: "\2713";
  margin-right: 5px;
  color: white;
}

.btn-check {
  display: none;
}

.btn {
  display: inline-block;
  width: 200px;
  padding: 5px 10px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-check:checked+.btn {
  background-color: #007BFF;
  color: rgb(255, 254, 254);
}


.btn-check:checked+.btn:before {
  content: "\2713";
  margin-right: 5px;
  color: white;
}